#include <WPILib.h>
#include <math.h>

#define DRIVE_ENCODER_TO_FEET 0.00434782608695652173913043478261

class MainRobot : public SimpleRobot
{
  Talon *motorLeft *motorRight;
Public:
  MainRobot(void) {
    //setting up motors
    motorLeft = new Talon(1)
    motorRight = new Talon(2)
    void Autonomous {
